{% extends 'base.html' %}

{% block head %}
<title>Change Password</title>

{% endblock %}

<!------------------------------------------------------------>

{% block nav %}
	  <li class="active"><a href="/forum/" style = "color: white;">Home</a></li>
{% endblock %}

{% block body %}

<div class="breadcrumbs" style = "background-color: rgba(70,130,180, 0.5)">
			<a href="/forum">Home</a>
&rsaquo; 	<a href="/forum/profile/edit">Edit Profile</a>
&rsaquo; 	<a href="/forum/add">Change Password</a>
</div>

<div class = "container" style = "color: white">
	<form method = "post">
		<br>
		{% csrf_token %}
			<div style = "float: left; width: 500px; ">
				<p>
					<label for="id_old_password" style = "color: white">Old password:</label> 
					<input type="password" name="old_password" autofocus required id="id_old_password" />
				</p>
				<p>
					<label for="id_new_password1" style = "color: white">New password:</label>
					<input type="password" name="new_password1" required id="id_new_password1" /> 
					<span class="helptext">
						<ul>
							<li>
								Your password can&#39;t be too similar to your other personal information.
							</li>
							<li>
								Your password must contain at least 8 characters.
							</li>
							<li>
								Your password can&#39;t be a commonly used password.
							</li>
							<li>
								Your password can&#39;t be entirely numeric.
							</li>
						</ul>
					</span>
				</p>
				<p>
					<label for="id_new_password2" style = "color: white">New password confirmation:</label> 
					<input type="password" name="new_password2" required id="id_new_password2" />
				</p>
						
			</div>

		<div style = "float: left; width: 800px; margin-top: 30px;  ">
			<button type = "submit">Save changes</button>
		</div>
	</form>
	<br>
</div>
{% endblock %}
